<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee, http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
</welcome-file-list>

<servlet>
	<servlet-name>control.ServletMeasuringPoints</servlet-name>
	<servlet-class>control.ServletMeasuringPoints</servlet-class>
</servlet>
  
<servlet-mapping>
	<servlet-name>control.ServletMeasuringPoints</servlet-name>
   	<url-pattern>/ServletMeasuringPoints</url-pattern>
</servlet-mapping> 

<servlet>
	<servlet-name>control.ServletBasicSearch</servlet-name>
	<servlet-class>control.ServletBasicSearch</servlet-class>
</servlet>
  
<servlet-mapping>
	<servlet-name>control.ServletBasicSearch</servlet-name>
   	<url-pattern>/ServletBasicSearch</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>control.ServletAdvancedSearch</servlet-name>
	<servlet-class>control.ServletAdvancedSearch</servlet-class>
</servlet>
  
<servlet-mapping>
	<servlet-name>control.ServletAdvancedSearch</servlet-name>
   	<url-pattern>/ServletAdvancedSearch</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>control.ServletCovid</servlet-name>
	<servlet-class>control.ServletCovid</servlet-class>
</servlet>
  
<servlet-mapping>
	<servlet-name>control.ServletCovid</servlet-name>
   	<url-pattern>/ServletCovid</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>control.ServletExportBasicResults</servlet-name>
	<servlet-class>control.ServletExportBasicResults</servlet-class>
</servlet>
  
<servlet-mapping>
	<servlet-name>control.ServletExportBasicResults</servlet-name>
   	<url-pattern>/ServletExportBasicResults</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>control.ServletExportAdvancedResults</servlet-name>
	<servlet-class>control.ServletExportAdvancedResults</servlet-class>
</servlet>
  
<servlet-mapping>
	<servlet-name>control.ServletExportAdvancedResults</servlet-name>
   	<url-pattern>/ServletExportAdvancedResults</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>control.ServletExportCovidResults</servlet-name>
	<servlet-class>control.ServletExportCovidResults</servlet-class>
</servlet>
  
<servlet-mapping>
	<servlet-name>control.ServletExportCovidResults</servlet-name>
   	<url-pattern>/ServletExportCovidResults</url-pattern>
</servlet-mapping>

</web-app>